@font-face {
  font-family: "orator";
  src: url(./fonts/OratorStd.otf);
}
html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  margin: 40px 150px 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamb-btn {
  display: inline-block;
}

.img-container {
  position: relative;
}

.mid-img {
  display: block;
  margin: 0 auto;
  width: 800px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 30px;
  height: 4px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-8px);
}

.menu-btn__burger::after {
  transform: translateY(8px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: rotate(90deg);
  box-shadow: none;
}

#mid.unfade {
  visibility: hidden;
  opacity: 0;
}

#mid.fade {
  visibility: visible;
  opacity: 1;
}

#news.fade {
  visibility: visible;
  opacity: 1;
}

#news.unfade {
  visibility: hidden;
  opacity: 0;
}

.menu-bar.fade {
  visibility: visible;
  opacity: 1;
}

#mid {
  transition: all 0.35s ease-in-out;
}

#news {
  margin: 80px 140px 0;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
}

#news .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ongoing,
.upcoming {
  margin: 0 auto;
}

.content-card {
  margin-top: 60px;
}

.content-header {
  font-weight: 400;
  font-size: 16px;
}

.card-header {
  font-weight: 800;
  font-size: 18px;
}

.card-header,
.card-content-header {
  margin-bottom: 10px;
}

.card-subheader {
  margin-bottom: 30px;
  font-size: 16px;
}

.card-content-header {
  font-weight: 400;
  font-size: 16px;
}

.card-content-location {
  font-size: 16px;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: end;
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s ease-in-out;
}
.menu-bar li {
  margin-left: 40px;
}
.menu-bar li a {
  position: relative;
  display: flex;
  padding: 6px;
  color: #000;
  text-decoration: none;
  font-size: 17.5px;
  font-family: "orator", sans-serif;
  transition: all 0.5s ease-in-out;
}
.menu-bar li a span {
  position: relative;
  overflow: hidden;
  transition: 0.6s;
  font-family: "orator", sans-serif;
}
.menu-bar li a span .out {
  display: inline-flex;
}
.menu-bar li a span .in {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
}
.menu-bar li a:hover span {
  font-family: "orator", sans-serif;
}
.menu-bar li a:hover span .out {
  opacity: 0;
  transform: translateX(-100%);
}
.menu-bar li a:hover span .in {
  opacity: 1;
  transform: translateX(0);
}

.logo a {
  position: relative;
  display: flex;
  padding: 6px;
  color: #000;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 3px;
  font-family: "orator", sans-serif;
  transition: all 0.5s ease-in-out;
}
.logo a span {
  position: relative;
  overflow: hidden;
  transition: 0.6s;
  font-family: "orator", sans-serif;
  font-size: 25px;
  letter-spacing: 3px;
}
.logo a span .out {
  display: inline-flex;
}
.logo a span .in {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
}
.logo a:hover span {
  font-family: "orator", sans-serif;
  font-size: 25px;
  letter-spacing: 3px;
}
.logo a:hover span .out {
  opacity: 0;
  transform: translateX(-100%);
}
.logo a:hover span .in {
  opacity: 1;
  transform: translateX(0);
}

/*# sourceMappingURL=style.css.map */
