@font-face {
  font-family: orator;
  src: url(./fonts/OratorStd.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  margin: 40px 150px 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-name {
  display: inline-block;
  font-size: 25px;
  letter-spacing: 3px;
  text-decoration: none;
  color: #000;
  font-family: orator, sans-serif;
}

.hamb-btn {
  display: inline-block;
}

.img-container {
  position: relative;
}

.mid-img {
  display: block;
  margin: 0 auto;
  width: 800px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 30px;
  height: 4px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-8px);
}
.menu-btn__burger::after {
  transform: translateY(8px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: rotate(90deg);
  box-shadow: none;
}

.menu-bar {
  list-style: none;
  display: flex;
  justify-content: end;
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s ease-in-out;
}

#mid.unfade {
  visibility: hidden;
  opacity: 0;
}

#mid.fade {
  visibility: visible;
  opacity: 1;
}

#news.fade {
  visibility: visible;
  opacity: 1;
}

#news.unfade {
  visibility: hidden;
  opacity: 0;
}

.menu-bar.fade {
  visibility: visible;
  opacity: 1;
}

.menu-li {
  margin-left: 40px;
}

.menu-a {
  text-decoration: none;
  color: #000;
  font-size: 17.5px;
  font-family: orator, sans-serif;
}

#mid {
  margin: 0 auto;
  width: 1200px;
  transition: all 0.35s ease-in-out;
}

#news {
  width: 1200px;
  margin: 80px 140px 0;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
}

#news .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ongoing,
.upcoming {
  margin: 0 auto;
}

.content-card {
  margin-top: 60px;
}

.content-header {
  font-weight: 400;
  font-size: 16px;
}

.card-header {
  font-weight: 800;
  font-size: 18px;
}

.card-header,
.card-content-header {
  margin-bottom: 10px;
}

.card-subheader {
  margin-bottom: 30px;
  font-size: 16px;
}

.card-content-header {
  font-weight: 400;
  font-size: 16px;
}

.card-content-location {
  font-size: 16px;
}